<!DOCTYPE html>

<meta charset="utf-8">
<link rel="icon" href="../../static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
{% include "header.html" with title=assignment.title %}
<main>
    <div class="page-content">
        <div class = "title">
            <h1>{{ assignment.title }}</h1>
            <h2>Due {{ assignment.deadline|date:"F d" }}, total of {{ assignment.points }} point{{ assignment.points|pluralize}}</h2>
        </div>
    {% if is_student %}
        <div class="action-box">
            <p>
                {% if submission is not None %}
                    {% if graded %}
                        Your submission, <a href = {{ submission.file.url }}>{{ submission.file.name }}</a>, received {{ score }}/{{ assignment.points }} point{{ assignment.points|pluralize }} ({{ percent }}%)
                    {% else %}
                        {% if past_due %}
                            Your submission, <a href = {{ submission.file.url }}>{{ submission.file.name }}</a>, is being graded
                        {% else %}
                            Your current submission is <a href = {{ submission.file.url }}>{{ submission.file.name }}</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if not past_due %}
                        No current submission
                    {% else %}
                        You did not submit this assignment and received 0 points
                    {% endif %}
                {% endif %}
            </p>
        {% if not past_due %}
            <form class = "shouldAsync" enctype="multipart/form-data" action="/{{ assignment_id }}/" method="post">
                {% csrf_token %}
                <div>
                    <label for="file">Submit Assignment: </label>
                    <input name="file" type="file" accept="application/pdf">
                </div>
                <button class="assignmentSubmit">submit</button>
            </form>
        {% endif %}
        <output>{{ error }}</output>
        </div>
    {% elif is_ta %}
        <div class="action-box">
            <p>
                Currently, {{ num_submissions }}/{{ num_students }} submission{{ num_students|pluralize}}
            </p>
            {% if not is_superuser %}
                <div class="submission-assigned">
                    {{ num_grader_submissions }} submission{{ num_grader_submissions|pluralize }} assigned to you
                    <a href="/{{ assignment_id }}/submissions" title="Link to go grade assignments">Grade</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
        <h3>Description</h3>
        {{ assignment.description|safe }}
    </div>
</main>

