<!DOCTYPE html>

<meta charset="utf-8">
<link rel="icon" href="../../static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
<title>All Assignments</title>

<nav>
    <div class="nav-content">
        <div class="left-side">
            <h1>
            CS 3550
            </h1>
            <a href="index.html">Assignments </a>
        </div>
        <div class="right-side">
            <a class = "profile" href="profile.html">Profile</a>
        </div>
    </div>
</nav>

<main>
    <div class="page-content">
        <div class = "title">
            <h1> All assignments </h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th class = "num-right-align">Due date</th>
                    <th class = "num-right-align">Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a title="Link to GitHub username assignment" href="assignment.html">GitHub username</a>
                    </td>
                    <td class = "num-right-align">
                        Aug 01
                    </td>
                    <td class = "num-right-align">
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        <a title="Link to Homework 1 Assignment" href="assignment.html">Homework 1 (HTML)</a>
                    </td>
                    <td class = "num-right-align">
                        Sep 08
                    </td>
                    <td class = "num-right-align">
                        100
                    </td>
                </tr>
                <tr>
                    <td>
                        <a title="Link to Homework 2 (CSS) assignment" href="assignment.html">Homework 2 (CSS)</a>
                    </td>
                    <td class = "num-right-align">
                        Sep 22
                    </td>
                    <td class = "num-right-align">
                        100
                    </td>
                </tr>
                <tr>
                    <td>
                        <a title="Link to Homework 3 (Backend) assignment" href="assignment.html">Homework 3 (Backend)</a>
                    </td>
                    <td class = "num-right-align">
                        Oct 27
                    </td>
                    <td class = "num-right-align">
                        100
                    </td>
                </tr>
                <tr>
                    <td>
                        <a title="Link to Homework 4 (Deploy) assignment" href="assignment.html">Homework 4 (Deploy)</a>
                    </td>
                    <td class = "num-right-align">
                        Nov 10
                    </td>
                    <td class = "num-right-align">
                        100
                    </td>
                </tr>
                <tr>
                    <td>
                        <a title="Link to Homework 5 (Permissions) assignment" href="assignment.html">Homework 5 (Permissions)</a>
                    </td>
                    <td class = "num-right-align">
                        Nov 24
                    </td>
                    <td class = "num-right-align">
                        100
                    </td>
                </tr>
                <tr>
                    <td>
                        <a title="Link to Homework 6 (JS) assignment" href="assignment.html">Homework 6 (JS)</a>
                    </td>
                    <td class = "num-right-align">
                        Dec 08
                    </td>
                    <td class = "num-right-align">
                        100
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>