<!DOCTYPE html>

<meta charset="utf-8">
<link rel="icon" href="../../static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
{% include "header.html" with title="All Assignments" %}
<main>
    <div class="page-content">
        <div class = "title">
            <h1> All assignments </h1>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th class = "num-right-align sortable unsorted" role="button">Due date</th>
                    <th class = "num-right-align sortable unsorted" role="button">Weight</th>
                </tr>
            </thead>
            <tbody>
                {%  for assignment in assignments %}
                    <tr  data-value={{ forloop.counter }}>
                        <td>
                            <a href = {{ forloop.counter }}>{{ assignment.title }}</a>
                        </td>
                        <td class = "num-right-align" data-value = {{ assignment.deadline|date:"U" }}>
                            {{ assignment.deadline|date:"M d" }}
                        </td>
                        <td class = "num-right-align" data-value = {{ assignment.weight }}>
                            {{ assignment.weight }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>