<!DOCTYPE html>

<meta charset="utf-8">
<link rel="icon" href="../../static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
{% include "header.html" with title="Login" %}
<main>
    <div class="page-content">
        <div class="title">
            <h1> Log in </h1>
        </div>
        <form class="login" action="/profile/login/" method="post">
            {% csrf_token %}
            <input type="hidden" name="next_page" value={{ next_page }}>
            <div class="input-line">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" autofocus="autofocus">
            </div>
            <div class="input-line">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            </div>
            <div class = button-line>
                <button type = "submit" class="LoginButton">Login</button>
            </div>
        </form>
        <output>{{ error }}</output>
    </div>
</main>