<!DOCTYPE html>

<meta charset="utf-8">
<link rel="icon" href="../../static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
{% include "header.html" with title="Profile" %}
<main>
    <div class="page-content">
        <div class = "title">
            <h1> Your grades </h1>
        </div>
        <div class="login-action-box">
            Currently logged in as {{ user.get_full_name }}.
            <a href="/profile/logout/" role="button">Log out</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th class = "num-right-align">
                        {% if is_student %}
                            Grades
                        {% else %}
                            Graded
                        {% endif %}
                    </th>
                </tr>
            </thead>
        {% if is_student %}
            <tbody>
                {% for assignment_info in assignments_info %}
                    <tr>
                        <td>
                            <a href=/{{ forloop.counter }}/submissions>{{ assignment_info.0 }}</a>
                        </td>
                        <td class = "num-right-align">
                            {{ assignment_info.2 }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% elif not is_student %}
            <tbody>
                {% for assignment_info in assignments_info %}
                    <tr>
                        <td>
                            <a href=/{{ forloop.counter }}/submissions>{{ assignment_info.0 }}</a>
                        </td>
                        <td class = "num-right-align">
                            {{ assignment_info.2 }}/{{ assignment_info.1 }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
        </table>
    </div>
</main>