@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
code
{
    font-family: "IBM: Plex Mono", sans-serif
}
*
{
    font-family: "IBM: Plex Sans", sans-serif;
    /* This is a unit-less multiplier */
    line-height: 1.25
}
h1{
    font-size: 1.5rem;
}
table
{
    line-height: 1.5
}
header {
    /* This says set the size of the text to 1.25 the default font size */
    *{ font-size: 1.25rem;}
    nav {
        a {
            color: darkgray;
        }
    }
    h1{
        font-weight: bold;
    }
}
h3{
    font-size: 1rem;
}
.login{
    font-size:1.25rem
}