@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

code
{
    font-family: "IBM Plex Mono", sans-serif;
}
*
{
    font-family: "IBM Plex Sans", sans-serif;
    /* This is a unit-less multiplier */
    line-height: 1.25;
    padding:0;
    margin:0;
}
.title{
    h1{
        font-size: 1.5rem;
        border-bottom: solid #ddd 1px;
    }
    padding-top: 3rem;
}
.title, p, ul, table, figure, img, h3{
    margin-bottom:1rem;
}
h2{
    font-size:1rem;
    font-weight: bold;
}
table
{
    .num-right-align
    {
        text-align: right;
    }
    text-align: left;
    line-height: 1.5;
    width: 100%;
}
nav {
    background-color: #ddd;
    box-shadow: 0 0 5px grey;
    *
    {
        font-size: 1.25rem;
        margin: 0.5rem 0;
    }
    .nav-content{
        display:flex;
        justify-content:space-between;
        margin: 0 1rem;
    }
    .left-side{
        display:flex;
        padding:0;
        margin:0;
    }
    a
    {
        color: #444;
        text-decoration: none;
    }
    a:hover
    {
        text-decoration: underline;
    }
    h1
    {
        font-weight: bold;
        margin-right: 1rem;
    }
}
h3{
    font-size: 1rem;
}
.login{
    font-size:1.25rem;
    input{
        width:50%;
    }
    .input-line
    {
        display:flex;
        justify-content: space-between;
        width:100%;
        margin-bottom:1rem;
        input{
            left:50%;
        }
    }
    .button-line{
        display:flex;
        justify-content: center;
    }
    button
    {
        width:50%;
        left:25%;
    }
}
.action-box, .login-action-box{
    display: flex;
    background-color: #b1c3de;
    padding: 1rem;
    border: 2px solid #204a87;
    margin-bottom:1rem;

}
.login-action-box{
    justify-content: space-between;
}
.action-box{
    flex-direction: column;
    .submission-assigned{
        display:flex;
        justify-content:space-between;
    }
}

main{
    padding: 0 1rem;
}
ul{
    margin-left: 1.5rem;
}

/* CSS settings for Large Screens */
@media (min-width: 52rem){
    nav{
        display:flex;
        justify-content: center;
    }
    .nav-content{
        width:50rem;
    }
    main{
        display:flex;
        justify-content:center;
        .page-content{
            width:50rem;
        }
    }
    .page-content{
    }
}
